<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de mensagens</title>
</head>
<body>
  <h1>Web Chat</h1>
  
  <input type="text" id='message' />
  <button id='sendMessage'>Enviar</button>
  
  <ul id='messages'>Mensagens</ul>
  
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    document.getElementById('sendMessage').addEventListener('click', (event) =>{
      const message = document.getElementById('message').value;
      console.log('estive aqui')
    // canal: Message, mensagem: conteudo de message
      socket.emit('Message', message)
    });

    socket.on('newMessage', (message) =>{
      const messageLi = document.createElement('li');
      messageLi.innerHTML = message;
      document.getElementById('messages').appendChild(messageLi);
    });
    </script>
</body>
</html>