<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de mensagens</title>
</head>
<body>
  <aside>
    <p data-testid="online-user"></p>
  </aside>

  <h1>Web Chat</h1>
 
  <div>
    <ul id='messages'>Mensagens</ul>
  </div>

  <div>
    <input type="text" id='message' data-testid="message-box" />
    <button id='sendMessage' data-testid="send-button">Enviar</button>
    <input type="text" id='nickname' placeholder="Como gostaria de ser chamado(a)" />
    <button id='nicknameUser' data-testid="nickname-button">Salvar</button>
  </div>
  
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    document.querySelector('#sendMessage').addEventListener('click', (event) =>{
      const message = document.querySelector('#message').value;
      const nickname = document.querySelector('#nickname').value;
      console.log('message', message);
      console.log('nickname', nickname);
      console.log('estive aqui')
    // canal: message, mensagem: conteudo de message
      socket.emit('message', { chatMessage: message, nickname })
    });

    socket.on('message', (message) =>{
      const messageLi = document.createElement('li');
      messageLi.innerHTML = message;
      document.querySelector('#messages').appendChild(messageLi);
    });
    </script>
</body>
</html>