<!DOCTYPE html>
<html>

<head>
  <title>Socket.IO</title>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <ul id="mensagens"></ul>
  <ul id="usuarios"></ul>
  <form action="" id="nicknameForm">
    <input data-testid="nickname-box" id="nicknameInput" autocomplete="off" />
    <button data-testid="nickname-button">Send</button>
  </form>
  <form action="" id="messageForm">
    <input data-testid="message-box" id="messageInput" autocomplete="off" />
    <button data-testid="send-button">Send</button>
  </form>
  <script>
    const socket = io();
    const nicknameForm = document.querySelector('#nicknameForm');
    const messageForm = document.querySelector('#messageForm');
    let nickname = '';
    const inputNickname = document.querySelector('#nicknameInput');
    const inputMessage = document.querySelector('#messageInput');
    messageForm.addEventListener('submit', (e) => {
      e.preventDefault();
      socket.emit('message', {
        nickname: nickname,
        chatMessage: inputMessage.value,
      });
      inputMessage.value = '';
      return false;
    });
    nicknameForm.addEventListener('submit', (e) => {
      e.preventDefault();
      nickname = inputNickname.value;
      inputNickname.value = ''
      return false;
    });
    const createMessage = (message) => {
      const messagesUl = document.querySelector('#mensagens');
      const li = document.createElement('li');
      li.innerText = message;
      li.setAttribute("data-testid", "message");
      messagesUl.appendChild(li);
    };
    const addNewUser = (user) => {
      const usersUl = document.querySelector('#usuarios');
      const li = document.createElement('li');
      li.innerHTML = user;
      li.setAttribute("data-testid", "online-user");
      usersUl.appendChild(li);
    };
    socket.on('message', (objeto) => {
      console.log(objeto);
      createMessage(objeto)
    });
    socket.emit('newUser');
    socket.on('nickname', (hash) => {
      nickname = hash;
      addNewUser(nickname);
    });
  </script>
</body>

</html>
