<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO</title>
  </head>
  <body>
    <ul id="mensagens"></ul>
    <form action="">
      <input id="mensagemInput" autocomplete="off" /><button>Send</button>
    </form>
  </body>
</html>
