<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB CHAT</title>
  <script src="/socket.io/socket.io.js"></script>
  <link href="css/main.css" rel="stylesheet">
</head>

<body>
  <h1>BEM VINDO AO WEBCHAT</h1>
  <div class="main-container">
    <div class="info-container">
      <div class="nickname-container">
        <form class="change-nickname" action="">
          <input
            type="text"
            class="nickname-input"
            name="nickname-input"
            data-testid="nickname-box"
            placeholder="Insira seu nickname"
          >
          <button class="send-nickname-btn" data-testid="nickname-button">Salvar</button>
        </form>
      </div>
      <div class="users-container">
        <ul class="users">
        </ul>
      </div>
    </div>
    <div class="messages-container">
      <ul class="messages">
        <% messages.forEach((message) => { %>
          <li data-testid="message"><%= message %></li>
        <% }) %> 
      </ul>
    </div>
  </div>
  <div class="send-message-container">
    <form class="send-message" action="">
      <input type="text" class="send-message-input" data-testid="message-box" placeholder="Digite uma nova mensagem">
      <button class="send-message-btn" data-testid="send-button">Enviar</button>
    </form>
  </div>
  <script src="js/main.js"></script>
</body>

</html>