<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página com Socket.io</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Socket.io</h1>

  <!-- <label>Digite seu nickname:
    <input type="text" id="nickname">
  </label>
  <button id="set-nickname-btn">Enviar</button>

  <br> -->

  <label>Digite sua mensagem:
  <input type="text" id="message">
  </label>
  <button id="send-message-btn">Enviar</button>
  <br>

  <h3>Usuarios</h3>
  <ul id='users'></ul>

  <h3>Mensagens</h3>
  <ul id='messages'></ul>

  <script>
    const socket = io('http://localhost:3000'); //abre conexão no front-end com o socket

    socket.on('connect', () => {
    const nickname = socket.id.slice(0,16);
    socket.emit('newUser', nickname)
    });

    document.querySelector('#send-message-btn').addEventListener('click', () => {
      const mensagem = document.querySelector('#message').value;
      const message = {chatMessage: mensagem, nickname: socket.id.slice(0,16)}
      socket.emit('message', message)
    });

    socket.on('message', (message) => {
      console.log(message)
      const messageLi = document.createElement('li');
      messageLi.innerHTML = `${message.timestamp} - ${message.nickname}: ${message.chatMessage}`;
      document.querySelector('#messages').appendChild(messageLi)
    })

    socket.on('updateUsers', ({users}) => {
      const userUl = document.querySelector('#users');
      console.log('lista dos usuarios: ', users)
      userUl.innerHTML = '';
      users.forEach((user) => { 
        const userLi = document.createElement('li');
        userLi.innerHTML = user.nickname;
        userUl.appendChild(userLi)
      })
    })

  </script>
</body>
</html>