* {
  box-sizing: border-box;
  margin: 10;
  padding: 0;  
}

body {
  background-color: rgba(0, 0, 0, 0.342);
  font-family: 'Roboto', sans-serif;
}

form {
  background: rgba(0, 0, 0, 0.616);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  position: fixed;
  width: 80%;
}

form input {
  border: 0;
  margin-right: 0.5%;
  padding: 10px;
  width: 80%;
}

form button {
  background: rgb(241, 94, 94);
  border: none;
  cursor: pointer;
  font-weight: 900;
  padding: 10px;
  width: 15%;
}

#mensagens {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#mensagens li {
  padding: 5px 10px;
}

#mensagens li:nth-child(odd) {
  background: rgb(196, 219, 241);
}

#user-wrapper {
  background-color: rgba(0, 0, 0, 0.336);
  display: flex;
  font-weight: 700;
  margin-bottom: 30px;
  padding: 10px;
  justify-content: space-around;
}

#users {
  font-size: 18px;
}