<!DOCTYPE html>
<html>

<head>
  <title>Socket.IO</title>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <ul id="mensagens"></ul>
  <ul id="usuarios"></ul>
  <form action="">
    <input id="mensagemInput" autocomplete="off" /><button>Send</button>
  </form>
  <script>
    const socket = io();
    const form = document.querySelector('form');
    let nickname = '';
    const inputMessage = document.querySelector('#mensagemInput');
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      socket.emit('message', {
        nickname: nickname,
        chatMessage: inputMessage.value,
      });
      inputMessage.value = ''
      return false;
    });
    const createMessage = (message) => {
      const messagesUl = document.querySelector('#mensagens');
      const li = document.createElement('li');
      console.log(message);
      li.innerText = message;
      messagesUl.appendChild(li);
    };
    const addNewUser = (user) => {
      const usersUl = document.querySelector('#usuarios');
      const li = document.createElement('li');
      li.innerHTML = user;
      li.setAttribute("data-testid", "online-user");
      usersUl.appendChild(li);
    };
    socket.on('message', (objeto) => {
      console.log(objeto);
      createMessage(objeto)
    });
    socket.emit('newUser');
    socket.on('nickname', (hash) => {
      nickname = hash;
      addNewUser(nickname);
    });
  </script>
</body>

</html>
