<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Milho verde</title>
</head>
<body>
  <ul id="mensagens"></ul>
  <form class="msgForm">
    <input class="msgInput" autocomplete="off" /><button>Send</button>
  </form>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const form = document.querySelector('.msgForm');
  const msgInput = document.querySelector('.msgInput');
  form.addEventListener('submit', (e) => {
    console.log('entrou aqui no evento sem disparar submissão');
    e.preventDefault();
    // socket.emit('mensagem', msgInput.value);
    msgInput.value = '';
    return false;
  });
  </script>

</html>