<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>Document</title>
</head>
<body>
  <h1>El chat del Magic</h1>
  <ul id="msg-screen"></ul>
  <form>
    <input type="text" id="input-msg"/>
    <button type="button" id="send-msg">Enviar</button>
  </form>
  <script>
    const socket = io();

    const msgInput = document.querySelector('#input-msg');

    document.querySelector('#send-msg').addEventListener('click', (e) => {
      e.preventDefault();
      const message = msgInput.value;
      socket.emit('message', { nickname: 'teste', chatMessage: message });
      msgInput.value = '';
    });

    const printMessage = (message) => {
      const msgScreen = document.querySelector('#msg-screen');
      const newMsg = document.createElement('li');
      newMsg.innerText = message;
      msgScreen.appendChild(newMsg);
    };

    socket.on('serverMessage', (message) => {
      printMessage(message);
    } )
  </script>
</body>
</html>