<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
    </script>
  </head>
  <body>
    <ul id="mensagens"></ul>
    <form action="">
      <input id="mensagemInput" autocomplete="off" /><button>Send</button>
    </form>
  </body>
</html>
