<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Milho verde</title>
</head>
<body>
  <!-- <form>
    <input type="text" id="nameInput" /><button>Salvar</button>
  </form> -->
  <div style="background-color: blueviolet;">
    <ul id="usuarios"></ul>
  </div>
  <div style="background-color: aqua;">
    <ul id="mensagens"></ul>
  </div>
  <form action="" class="msgForm">
    <input class="msgInput" autocomplete="off" /><button>Send</button>
  </form>
</body>
<script src="socket.io/socket.io.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script> -->
<script>
  const socket = io();

  const form = document.querySelector('form');
  const msgInput = document.querySelector('.msgInput');
  form.addEventListener('submit', (e) => {
    e.preventDefault();
    console.log('entrou aqui no evento sem disparar submissão', `e essa é a mensagem: ${msgInput.value}`, socket.id);
    const message = { nickname: socket.id, chatMessage: msgInput.value }
    socket.emit('message', message);
    msgInput.value = '';
    return false;
  });
  const createMenssage = (message) => {
    const messagesUl = document.querySelector('#mensagens');
    const li = document.createElement('li');
    li.innerText = message;
    messagesUl.appendChild(li);
  };
  const createListUser = (user) => {
    const userUl = document.querySelector('#usuarios');
    const li = document.createElement('li');
    li.innerText = user;
    userUl.appendChild(li);
  };
  socket.on('message', (message) => {
    createMenssage(message);
    // createListUser(user);
  });
</script>

</html>