<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>Sockets - WebChat</title>
</head>
<body>
  <div>
    <h2>WebChat</h2>
    <div>
      <input
      type="text"
      data-testid="nickname-box"
      id="nickname-box"
      placeholder="insira seu nickname"
      ></input>
      <button
      type="button"
      data-testid="nickname-button"
      id="nickname-button"
      >
      Salvar
    </button>
    <div>
      <h2>Usuários</h2>
      <ul id="online-users"></ul>
    </div>
    <div>
      <h2>Mensagens</h2>
      <ul id="messages"></ul>
    </div>
    </div>
    <div>
      <input
      type="text"
      data-testid="message-box"
      id="message-box"
      placeholder="Insira sua mensagem"
      ></input>
      <button
      type="button"
      data-testid="send-button"
      id="send-button"
      >
      Enviar
      </button>
    </div>
  </div>
  <script>
    const socket = io('http://localhost:3000');
    let nickname = '';

    socket.on('new users', (users) => {
      
    })
  </script>
</body>
</html>