<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO - trybe</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font: 13px Helvetica, Arial;
      }
      form {
        background: #000;
        padding: 3px;
        position: fixed;
        bottom: 0;
        width: 100%;
      }
      form input {
        border: 0;
        padding: 10px;
        width: 90%;
        margin-right: 0.5%;
      }
      form button {
        width: 9%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
        cursor: pointer;
      }
      #mensagens {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      #mensagens li {
        padding: 5px 10px;
      }
      #mensagens li:nth-child(odd) {
        background: #eee;
      }
    </style>
    <script src="/socket.io/socket.io.js" ></script>
    <script src="//cdn.jsdelivr.net/npm/simple-crypto-js@2.5.0/dist/SimpleCrypto.min.js"></script>

  </head>
  <body>
    <input id="chooseName" data-testid="nickname-box" placeholder="Insira seu nickname"/>
    <button id="saveName" data-testid="nickname-button">Salvar </button>

    <br />
    <hr />
    <br />
    <h2>ONLINE USERS</h2>
    <ul id="users-online">
    
    </ul>
   
    <br />
    <hr />
    <br />

    <ul id="mensagens">
      <% messages.forEach(({ messages }) => { %>
        <li data-testid='message'><%= `${messages.timestamp} ${messages.nickname} ${messages.message}` %></li>
      <% }) %>
    </ul>

    <form action="">
      <input data-testid="message-box" id="mensagemInput" autocomplete="off" /><button data-testid="send-button">Send</button>
    </form>
    <script>

      const socket = io();
      const form = document.querySelector('form')
      const inputMessage = document.querySelector('#mensagemInput')
      const chosenName = document.querySelector('#chooseName');
      const saveName = document.querySelector('#saveName');
      const messagesUl = document.querySelector('#mensagens');
      const usersUl = document.querySelector('#users-online');

      let nickname;

      nickname = Math.random().toString(36).substring(2, 10) + Math.random().toString(36).substring(2, 10);
      socket.on('connect', () => {
        socket.emit('getName', nickname);
      });

      const setOnlineUsers = (users) => {
        usersUl.innerHTML = '';
        console.log(users);
          users.forEach((user) => {
            const onlineUser = document.createElement('li');
            onlineUser.setAttribute('data-testid', 'online-user');
            onlineUser.innerText = user.nickname;
            usersUl.appendChild(onlineUser);
          });
      };
      
      socket.on('onlineUsers', (users) => setOnlineUsers(users));

      saveName.addEventListener('click', (e) => {
        newName = chosenName.value;
        nickname = chosenName.value;
        console.log(newName);
        socket.emit('updateName', newName);
      });
      
      form.addEventListener('submit', (e) =>{
        e.preventDefault();
        console.log(nickname)
        socket.emit('message', { chatMessage: inputMessage.value, nickname });
        
        inputMessage.value = ''
        return false;
      });    
      
      const createMessage = (message) => {
        const li = document.createElement('li');
        li.setAttribute('data-testid', 'message')
        li.innerText = message;
        messagesUl.appendChild(li);
      }

      // const allMessages = (messages) => {
      //   messages.forEach((el) => {
      //     const { message, nickname, timestamp } = el.messages;

      //     let time = timestamp.substring(13, 11);
      //     if (parseInt(time, 10) > 12) {
      //       time = 'PM';
      //     } else {
      //       time = 'AM';
      //     }
      
      //     const userMessage = `${timestamp} ${time} - ${nickname}: ${message}`;
      //     createMessage(userMessage);
      //   });
      // }

      socket.on('message', (msg) => createMessage(msg));
     
      // socket.on('allMessages', (msg) => allMessages(msg));

    </script>
  </body>
</html>