<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>Webchat</title>
</head>
<body>
  <h1>Talk y Talk</h1>
  <input type="text" id="message">
  <button type="button" id="sendMessage">
    Enviar
  </button>
  <div>
    <ul id="chatMessages"></ul>
  </div>

  <script>
    const socket = io();

    document.getElementById('sendMessage').addEventListener('click', (e)=> {
      const chatMessage = document.getElementById('message').value;

      socket.emit('message', { chatMessage, nickname: 'user'});
    });

    socket.on('message', (message) => {
      const messageLi = document.createElement('li');
      const newMessage = message.chatMessage;

      messageLi.innerHTML = newMessage;
      document.getElementById('chatMessages').appendChild(messageLi);
    });
  </script>
</body>
</html>