<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>WebChat</title>
</head>
<body>
  <div>
    <div>
      <h1>WebChat</h1>
    </div>
    
    <div>
      <div>
        <div>
          <input
            type="text"
            data-testid="nickname-box"
            id="nickname-box"
            placeholder="Informe seu nickname"
          >
          <button
            type="button"
            data-testid="nickname-button"
            id="nickname-button"
          >
            Salvar
          </button>
        </div>
        <div>
          <h3>Usuários</h3>
          <ul data-testid="online-user" id="online-user"></ul>
        </div>
      </div>
      <div>
        <h3>Mensagens</h3>
        <ul data-testid="message" id="message"></ul>
      </div>
    </div>
    <div>
      <input
        type="text"
        data-testid="message-box"
        id="message-box"
        placeholder="Digite sua mensagem aqui"
      >
      <button
        ype="button"
        data-testid="send-button"
        id="send-button"
      >
        Enviar
      </button>
    </div>
  </div>

  <script>
    const socket = io('http://localhost:3000');

    document.querySelector('#send-button').addEventListener('click', (e) => {
      const message = document.querySelector('#message-box').value;
      socket.emit('sentMessage', message); // 1.aqui o cliente está enviando a msg para o backend através do cananl sentMessage
    });

    // recebendo mensagem!
    // 4. para o front end escutar o canal newMessage criado no back, fazemos outro .on, e aí todos tem acesso a mesg escrita por 1 usuário.
    socket.on('newMessage', (message) => {
      const messageLi = document.createElement('li');
      messageLi.innerHTML = `${Date.now()} ${message}`;
      document.querySelector('#message').appendChild(messageLi);
    });

    // listarr todos os usuários
    socket.on('updateUsers', (users) => {
      users.forEach(user => {
        const userLi = document.createElement('li');
        userLi.innerHTML = user.socketId;
        document.querySelector('#online-user').appendChild(userLi);
      });
    });

  </script>
</body>
</html>
