<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web-Chat</title>
</head>

<body>

  <!-- USER LOGGED -->
  <div>
    <h1 id="current-user"></h1>
    <input id="nick-input" data-testid="nickname-box" type="text">
    <button id="send-nick"  data-testid="nickname-button">Send</button>
  </div>

  <!-- LIST OF ONLINE USERS -->
  <div>
    <h2>Online users</h2>
    <ul id='online-users-ul'></ul>
  </div>

  <!-- MESSAGE BOX -->
  <div>
    <input data-testid="message-box" id="message-box" type="text">
    <button data-testid="send-button" id="send-message">Send</button>
  </div>

  <!-- CHAT BOX -->
  <div>
    <h2>Chat</h2>
    <ul id="chat-box">
      <% allMessages.forEach((message) => { %>
        <li data-testid="message">
            <%= `${message.timestamp} ${message.nickname} ${message.message}` %>
        </li>
      <% }) %>
    </ul>
  </div>
  <script src="/scripts/home.js"></script>
</body>

</html>