<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Webchat Project</title>
</head>
<body>
  <h1>Webchat</h1>
  <ul id="online-users" class="list-group"></ul>
  <input id="change-nickname" data-testid="nickname-box">
  <button id="change-nickname-button" data-testid="nickname-button" disabled>Change nickname</button>
  <ul id="chat-messages" class="list-group">
    <% messagesToRender.forEach((message) => { %>
      <li data-testid="message" class="list-group-item"><%= message %></li>
    <% }); %>
  </ul>
  <form class="input-group mb-3 fixed-bottom">
    <input id="message" data-testid="message-box" type= "text" class="form-control" placeholder="Digite a sua mensagem">
    <div class="input-group-append">
      <button id="send-button" disabled data-testid="send-button" class="btn btn-outline-secondary" type="submit" id="button-addon2">Send</button>
    </div>
  </form>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  let userNickname;
  const onlineUsersList = document.querySelector('#online-users');
  const changeNicknameInput = document.querySelector('#change-nickname');
  const changeNicknameButton = document.querySelector('#change-nickname-button');
  const chatMessages = document.querySelector('#chat-messages');
  const messageInputArea = document.querySelector('#message');
  const messageForm = document.querySelector('form');
  const sendMessageButton = document.querySelector('#send-button');

  socket.on('connect', () => { 
    userNickname = `user_${Math.random().toString().substr(2, 11)}`;
    socket.emit('sendNickname', { nickname: userNickname });
  })

  socket.on('updateOnlineUsers', (onlineUsers) => {
    const otherUsers =  onlineUsers.filter((user) => user.id !== socket.id);
    const firstUser = onlineUsers.filter((user) => user.id === socket.id);
    const orderedUsers = firstUser.concat(otherUsers);
    
    userNickname = onlineUsers.find((user) => user.id === socket.id).nickname
    
    while (onlineUsersList.firstChild) onlineUsersList.removeChild(onlineUsersList.lastChild);
    
    orderedUsers.forEach((user) => {
      const userToRender = document.createElement('li');
      
      userToRender.setAttribute('data-testid', 'online-user');
      userToRender.innerHTML = user.nickname;
      onlineUsersList.appendChild(userToRender);
    });
  });
  
  socket.on('message', (message) => {
    const messageToRender = document.createElement('li');

    messageToRender.setAttribute('data-testid', 'message');
    messageToRender.setAttribute('class', 'list-group-item');
    messageToRender.innerHTML = message;
    chatMessages.appendChild(messageToRender);
  });

  messageForm.addEventListener('submit', (e) => {
    e.preventDefault();

    const chatMessage = messageInputArea.value;
    messageInputArea.value = '';
    
    socket.emit('message', { nickname: userNickname, chatMessage });
  });

  messageInputArea.addEventListener('input', (e) => {
    if(e.target.value.length > 0) sendMessageButton.removeAttribute('disabled');
    else sendMessageButton.setAttribute('disabled', '');
  })

  changeNicknameInput.addEventListener('input', (e) => {
    if(e.target.value.length > 0) changeNicknameButton.removeAttribute('disabled');
    else changeNicknameButton.setAttribute('disabled', '');
  });

  changeNicknameButton.addEventListener('click', () => {
    userNickname = changeNicknameInput.value;
    changeNicknameInput.value = '';
    socket.emit('changeNickname', userNickname);
  });
</script>
</html>