<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>WebChat</title>
</head>
<body>
  <h1>WEBCHAT</h1>
  <input type="text" id='message'>
  <button id='sendMessage'>Enviar</button>
  <h2>Mensagens</h2>
  <ul id="webMsgs"></ul>
  <h2>Usuários</h2>
  <ul id="nickNames"></ul>

  <script>
    const socket = io('http://localhost:3000');
    socket.emit('newUser', `Guest_${socket.id}`);
    document.querySelector('#sendMessage').addEventListener('click', (e) => {
      const message = document.querySelector('#message').value;
      socket.emit('message', message)
    })

    socket.on('newMessage', (message) => {
      const messageLi = document.createElement('li');
      messageLi.innerHTML = message;
      document.querySelector('#webMsgs').appendChild(messageLi);  
    })

    socket.on('updateUsers', (users) => {
      const listUsers = document.querySelector('#nickNames')
      listUsers.innerHTML = '';
      users.forEach((user) => {
        console.log(user.socketId);
        const userLI = document.createElement('li');
        userLI.innerHTML = socketId;
        listUsers.appendChild(userLI); 
       });
      });
  </script>

</body>
</html>