<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <title>Webchat</title>
</head>
<body>
    <h1>Chat UOL</h1>
    <label for="">Type a message</label>
    <input type="text" name="message" id="message-box" data-testid="message-box">
    <button id="send-button" data-testid="send-button">Send message</button>
    <br>
    <label for="nickname">Nickname</label>
    <ul id="user-names" name="nickname"></ul>
    <br>
    <label for="">Choose a nickname</label>
    <input type="text" id="new-nickname" name="new-nickname" data-testid="nickname-box"/>
    <button id="change-nickname" data-testid="nickname-button">Change nickname</button>
    <h3>Chat</h3>
    <ul id="messages-list"></ul>

    <script>
        const socket = io();
        socket.emit('random-nickname', socket.id);
        let users = [];
        let messages = [];

        socket.on('public-nickname', (nicknamesFromServer, shouldClearNicknameList) => {
            if (shouldClearNicknameList) {
                document.querySelector('#user-names').innerHTML = ''
            }
            // console.log('nickname: ', nicknamesFromServer);
            nicknamesFromServer.forEach(({ nickname }) => {
                const newUser = document.createElement("LI")
                newUser.innerText = nickname
                newUser.setAttribute("data-testid", "online-user");
                document.querySelector('#user-names').appendChild(newUser)
            })
            users = nicknamesFromServer
        })

        socket.on('new-message', (messagesFromServer) => {
            document.querySelector('#messages-list').innerHTML = ''
            messages = messagesFromServer
            messages?.forEach((message) => {
                const newMessageElement = document.createElement("LI")
                newMessageElement.setAttribute("data-testid", "message");
                newMessageElement.innerText = message
                document.querySelector('#messages-list').appendChild(newMessageElement)
            })

        })

        document.querySelector('#send-button').addEventListener('click', () => {
            const messageFromInput = document.querySelector('#message-box').value;
            const messageAuthor = users.find((user) => user.socketId === socket.id)
            const message = { nickname: messageAuthor.nickname, chatMessage: messageFromInput }
            socket.emit('message', message)
        });

        document.querySelector('#change-nickname').addEventListener('click', () => {
            console.log('socket', socket.id)
            const typedNickname = document.querySelector('#new-nickname').value;
            socket.emit('change-nickname', typedNickname, socket.id);
        });
    </script>
</body>
</html>