<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Webchat</title>
  <script src="socket.io/socket.io.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>  -->
</head>
<body>
  <h1>WebChat!</h1>
  <input type="text" id="nickname" data-testid="nickname-box">
  <button id="sendNickname" data-testid="nickname-button">Entrar</button>
  <br>
  <p>Quantidade de usuarios logados: <%= quantity %></p>
  
  <ul id="online-user">
    <% nicknameMapFormat.forEach((nickname) => { %>
      <li data-testid="online-user"><%= nickname %></li>
    <% }); %>
  </ul>
  
  <input type="text" id="message" data-testid="message-box">
  <button id="sendMessage" data-testid="send-button">Enviar</button>

  <h3>Mensagens</h3>

  <ul id="messages">
    <% messagesMapFormat.forEach((message) => { %>
      <li data-testid="message"><%= message %></li>
    <% }); %>
  </ul>
  
  <script>
    const socket = io();
    // console.log("socket", socket);
   
     // 2
    let newNikname = '';
    socket.on('newUser', (newUser) => {
      newNikname = newUser;
      localStorage.setItem('nickname', newNikname);
    });
    // 2 

    // 1
    document.querySelector('#sendNickname').addEventListener('click', (e) => {
      const nickname = document.querySelector('#nickname').value;
      newNikname = nickname;
      localStorage.setItem('nickname', nickname);
      console.log("nickname", nickname);
      // socket.emit('message', { chatMessage: message, nickname: socket.id });
    });

    document.querySelector('#sendMessage').addEventListener('click', (e) => {
      const message = document.querySelector('#message').value;
      socket.emit('message', { chatMessage: message, nickname: newNikname });
    });

    socket.on('message', (message) => {
      const messageLI = document.createElement('li');
      messageLI.innerHTML = message;
      messageLI.setAttribute('data-testid', 'message');
      document.querySelector('#messages').appendChild(messageLI);
    })
    // 1

    // 2
    socket.on('newUser', (newUser) => {
      console.log("newUser", newUser);
      const userLI = document.createElement('li');
      userLI.innerHTML = newUser;
      userLI.setAttribute('data-testid', 'online-user')
      document.querySelector('#online-user').appendChild(userLI);
    })
    // 2
  </script>
</body>
</html>