<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Webchat</title>
  <script src="socket.io/socket.io.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>  -->
</head>
<body>
  <h1>Hello World!</h1>
  <input type="text" id="nickname" data-testid="nickname-box">
  <button id="sendNickname" data-testid="nickname-button">Entrar</button>
  <br>
  <p>Quantidade de usuarios logados: <%= quantity %></p>
  <input type="text" id="message" data-testid="message-box">
  <button id="sendMessage" data-testid="send-button">Enviar</button>

  <h3>Menssagens</h3>

  <ul id="messages" data-testid="message"></ul>
  
  <script>
    const socket = io();
    console.log("socket", socket);
    
    // const test = socket.map((e) => ({ id: e.id }));
    // console.log("socket map", test);

    // socket = socket.filter((user) => {
    //   console.log(user.id);
    // });
   
    let nickname = socket.id;
    console.log('nickname', nickname);
    localStorage.setItem('nickname', nickname);
    
    document.querySelector('#sendNickname').addEventListener('click', (e) => {
      const nickname = document.querySelector('#nickname').value;
      console.log("socket", socket);
      console.log("socket.id", socket.id);
      socket.id = nickname;
      localStorage.setItem('nickname', nickname);
      console.log("nickname socket", nickname);
      // socket.emit('message', { chatMessage: message, nickname: socket.id });
    });

    document.querySelector('#sendMessage').addEventListener('click', (e) => {
      const message = document.querySelector('#message').value;
      socket.emit('message', { chatMessage: message, nickname: socket.id });
    });

    socket.on('message', (message) => {
      const messageLI = document.createElement('li');
      messageLI.innerHTML = message;
      document.querySelector('#messages').appendChild(messageLI);
    })
  </script>
</body>
</html>