<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>WebChat</title>
</head>
<body>
  <div>
    <div>
      <h1>WebChat</h1>
    </div>
    
    <div>
      <div>
        <div>
          <input
            type="text"
            data-testid="nickname-box"
            id="nickname-box"
            placeholder="Informe seu nickname"
          >
          <button
            type="button"
            data-testid="nickname-button"
            id="nickname-button"
          >
            Salvar
          </button>
        </div>
        <div>
          <h3>Usuários</h3>
          <ul id="online-user"></ul>
        </div>
      </div>
      <div>
        <h3>Mensagens</h3>
        <ul id="message">
          <% messages.forEach((msg) => { %>
            <li data-testid="message"><%= `${msg.timestamp} ${msg.nickname} ${msg.message}` %></li>
          <% }) %>
        </ul>
      </div>
    </div>
    <div>
      <input
        type="text"
        data-testid="message-box"
        id="message-box"
        placeholder="Digite sua mensagem aqui"
      >
      <button
        type="button"
        data-testid="send-button"
        id="send-button"
      >
        Enviar
      </button>
    </div>
  </div>

  <script>
    const socket = io('http://localhost:3000');

    let nickname = '';

    function generateNickName(length) {
      let result = '';
      let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
      let charactersLength = characters.length;
      for ( let i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
      }
      return result;
    }

    socket.on('randomNickname', (user) => {
      const userLi = document.createElement('li');
      userLi.setAttribute('data-testid', 'online-user');
      userLi.setAttribute('id', user);
      userLi.innerText = user;
      document.querySelector('#online-user').appendChild(userLi);
    });

    document.querySelector('#send-button').addEventListener('click', () => {
      const chatMessage = document.querySelector('#message-box').value;
      socket.emit('message', { chatMessage, nickname });
    });

    socket.on('message', (message) => {
      const messageLi = document.createElement('li');
      messageLi.setAttribute('data-testid', 'message');
      messageLi.innerText = message;
      document.querySelector('#message').appendChild(messageLi);
    });

    document.querySelector('#nickname-button'). addEventListener('click', () => {
      const newNickname = document.querySelector('#nickname-box').value;
      if (newNickname !== '') {
        const oldNickname = document.querySelector(`#${nickname}`);
        oldNickname.innerText = newNickname;
        oldNickname.setAttribute('id', newNickname);
        socket.emit('changeNickname', { nickname, newNickname });
        nickname = newNickname;
      };
    });

    socket.on('changeNickName', ({ nickname, newNickname }) => {
      const oldNickname = document.querySelector(`#${nickname}`);
      if (oldNickname) {
        oldNickname.innerText = newNickname;
        oldNickname.setAttribute('id', newNickname);
      }
    });

    socket.on('connect', () => {
      const randomNick = generateNickName(16);
      nickname = randomNick
      socket.emit('connectUser', { nickname });
    });
  </script>
</body>
</html>
