<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Chat</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>Página com Socket.io</h1>
    <h3>Users</h3>
    <ul id="users-list">
      users
    </ul>
    <h3>Messages</h3>
    <ul id="message-body">
      <% renderMsgs.forEach((message) => { %>
        <li data-testid="message"><%= message %></li>
      <% }); %>
    </ul>

    <form>
      <input
        type="text"
        data-testid="message-box"
        name="message"
        placeholder="message"
        id="message-input"
      />
      <button type="button" data-testid="send-button" id="send-btn">Enviar</button>
      <input
        type="text"
        name="nickname"
        placeholder="nickname"
        data-testid="nickname-box"
        id="nickname"
      />
      <button type="button" data-testid="nickname-button" id="nick-btn">Nick Name</button>
    </form>
  </body>
  <script>
    const socket = io();

    const usuariosOnline = document.querySelector('#users-list')

    const renderUsers = (array) => {
      array.forEach((user) => {
        const userLi = document.createElement('li');
        userLi.innerText = user.nickname;
        userLi.setAttribute('data-testid', 'online-user');
        usuariosOnline.appendChild(userLi);
      });
    };

    socket.on('updateUsers', (users) => {
      usuariosOnline.innerText = '';
      const orderUsers = users.filter((u) => u.id !== socket.id);
      renderUsers(users.filter((u) => u.id === socket.id));
      renderUsers(orderUsers);
    });

    const randomNick = () => {
      const length = 16;
      const random = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
      let result = '';
      for (let i = 0; i < length; i += 1) {
        result += random.charAt(Math.floor(Math.random() * random.length));
      }
      return result;
    };

    const sendBtn = document.querySelector('#send-btn');

    sendBtn.addEventListener('click', () => {
      const inputMessage = document.querySelector('#message-input');
      console.log(inputMessage.value);
      socket.emit('message', { chatMessage: inputMessage.value, nickname });
      inputMessage.value = '';
      return false;
    });

    const createMessage = (response) => {
      const allMessages = document.querySelector('#message-body');
      const li = document.createElement('li');
      li.setAttribute('data-testid', 'message');
      li.innerText = response;
      allMessages.appendChild(li);
    };

    socket.on('message', (message) => createMessage(message));

    socket.on('connect', () => {
      nickname = randomNick();
      socket.emit('newUser', { nickname });
    });

    let nickName = '';

    const nickBtn = document.querySelector('#nick-btn');

    nickBtn.addEventListener('click', () => {
      console.log('mudei de nick');
      const newNick = document.querySelector('#nickname');
      socket.emit('changeNickname', newNick.value);
      nickname = newNick.value;
      newNick.value = '';
    });
  </script>
</html>
