<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>Webchat</title>
</head>
<body>
  <div>
    <div>
      <h2>usuários ativos</h2>
    </div>
    <ul id="online-user">
      <!-- <% users.forEach((user) => {%>
        <li data-testid="online-user"><%= user.nickname %></li>
      <% })%> -->
    </ul>
    <input
    type="text"
    data-testid="nickname-box"
    id="nickname-box"
    placeholder="insira seu nickname"
    >
    <button
    type="button"
    data-testid="nickname-button"
    id="nickname-button"
    >
    change nickname
  </button>
  </div>
  <div>
    <h2>Mensagem</h2>
    <input
    type="text"
    data-testid="message-box"
    id="message-box"
    >
    <button
    type="button"
    data-testid="send-button"
    id="send-button"
    >
    enviar
    </button>
    <div>
      <h2
      id="message"
      >
      Mensagens recebidas
    </h2>
      <ul data-testid="ul-message" id="ul-message">
        <% message.forEach((msg) => { %>
          <li data-testid="message">
          <%= `${msg.newDate}-${msg.nickname}:${msg.chatMessage}` %>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
  <script>
    const socket = io();
    
    let nickname = '';
    
    const usrOnLine = document.querySelector('#online-user');
    socket.on('connect', () => {
      nickname = (socket.id).slice(0, 16);
      socket.emit('online-users', nickname);
      usrOnLine.innerHTML = nickname;
    });

    const btnMsg = document.querySelector('#send-button');
    btnMsg.addEventListener('click', () => {
      const inputMsg = document.querySelector('#message-box');
      const chatMsg = inputMsg.value;
      socket.emit('message', {chatMessage: chatMsg, nickname});
    })

    const btnUsr = document.querySelector('#nickname-button');
    btnUsr.addEventListener('click', () => {
      const inputUsr = document.querySelector('#nickname-box');
      const Newnickname = inputUsr.value;
      nickname = Newnickname;
      usrOnLine.innerHTML = nickname;
      console.log('nick', Newnickname);
      socket.emit('updateNickname', Newnickname)
    })


    socket.on('message', (message) => {
      console.log('msg', message);
      const msgList = document.querySelector('#ul-message');
      const liMsg = document.createElement('li');
      liMsg.innerHTML = message;
      liMsg.setAttribute('data-testid', 'message');
      console.log('oi', typeof liMsg);
      msgList.appendChild(liMsg);
    })

    socket.on('updateUsers', (users) => {
      console.log('usr', users);
      const onlineUsr = document.querySelector('#online-user');
      onlineUsr.innerHTML = '';
      users.forEach((user) =>{
        const liUsr = document.createElement('li');
        liUsr.innerHTML = user.nickname;
        liUsr.setAttribute('data-testid', 'online-user');
        onlineUsr.appendChild(liUsr);
      })

    })
  </script>
</body>
</html>