<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Webchat!</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</head>
<body>
  <h1>Bate-Papo MilhUOL</h1>
  <form action="">
    <input type="text" name="nickname" id="nickname" placeholder="Identifique-se">
    <button type="submit" id='nickname-btn'>Confirmar</button>
  </form>
  <ul id='msg-board' style='list-style-type:none;'>Mensagens</ul>
  <form action="">
    <input type="text" id='msg-input' autocomplete="off">
    <button type="submit" id='send-msg'>Enviar</button>
  </form>

  <script>
    const socket = io();

    let userNickname = '';
    $('#nickname-btn').click((e) => {
      e.preventDefault();
      userNickname = $('#nickname').val();
      $('#nickname-btn').prop('disabled', true);
    });

    $('#send-msg').click((e) => {
      e.preventDefault();
      const data = { userNickname, message: $('#msg-input').val() };
      ($('#msg-input').val() !== '') ?  socket.emit('bc-message', data) : false;
      $('#msg-input').val('');
      return;
    });

    // const showMsgs = (msg) => {
    //   return $('#msg-board').append(`<li>${msg}<li>`);
    // };

    socket.on('message', (msg) => {
      $('#msg-board').append(msg);
    });
  </script>
</body>
</html>