<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>webchat page</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>

  <h1>webchat</h1>

  <h2>Nickname: <span id="nicknameShow"></span></h2>

  <input type="text" id="nickname">
  <button type="button" id="saveNickname">Save nickname</button>

  <input type="text" id="message">
  <button type="button" id="sendMessage">Send message</button>

  <h3>Messages</h3>

  <ul id="messages"></ul>

  <h3>Users</h3>

  <ul id="users"></ul>

  <script>
    const socket = io();

    document.querySelector('#sendMessage').addEventListener('click', () => {
      const message = document.querySelector('#message').value;
      const nickname = document.querySelector('#nickname').value;

      socket.emit('message', { chatMessage: message, nickname });
    });

    document.querySelector('#saveNickname').addEventListener('click', () => {
      const nickname = document.querySelector('#nickname').value;

      socket.emit('nickname', { nickname });
    });

    socket.on('message', (message) => {
      const msgLi = document.createElement('li');
      msgLi.innerHTML = message;

      document.querySelector('#messages').appendChild(msgLi);
    });

    socket.on('nickname', (nickname) => {
      const nicknameSpan = document.createElement('span');
      nicknameSpan.innerHTML = nickname;

      document.querySelector('#nicknameShow').appendChild(nicknameSpan);
    });

    socket.on('updateUsers', (users) => {
      console.log(users);
      users.map((user) => {
        const userLi = document.createElement('li');
        userLi.innerHTML = user.socketId;
        console.log(userLi);
  
        document.querySelector('#users').appendChild(userLi);
      });
    });
  </script>
  
</body>
</html>