<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>webchat page</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>

  <h1>webchat</h1>

  <h2>Nickname: <span id="nicknameShow"></span></h2>

  <input type="text" id="message" data-testid="message-box">
  <button type="button" id="sendMessage" data-testid="send-button">Send message</button>

  <br />
  <br />

  <input type="text" id="nickname-box" data-testid="nickname-box">
  <button type="button" id="saveNickname" data-testid="nickname-button">Save nickname</button>

  <h3>Messages</h3>

  <ul id="messages"></ul>

  <h3>Users</h3>

  <ul id="users"></ul>

  <script>
    const socket = io();
    let nickname;

    function generateRandomNickname() {
      const nickname = '----------------';
      const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';

      return nickname.split('')
      .map((e) => e.replace('-', characters.charAt((Math.floor(Math.random() * characters.length)))), nickname)
      .join('');
    }

    socket.on('connect', () => {
      nickname = generateRandomNickname();
      const nicknameSpan = document.createElement('span');
      nicknameSpan.innerHTML = nickname;
      nicknameSpan.setAttribute('data-testid', 'online-user');
      nicknameSpan.id = 'nickname';
      document.querySelector('#nicknameShow').appendChild(nicknameSpan);
    })

    document.querySelector('#sendMessage').addEventListener('click', () => {
      const message = document.querySelector('#message').value;
      const nickFrom = document.getElementById('nickname').innerHTML;
      console.log(nickFrom);

      socket.emit('message', { chatMessage: message, nickname: nickFrom });
    });

    socket.on('message', (message) => {
      const msgLi = document.createElement('li');
      msgLi.innerHTML = message;
      msgLi.setAttribute('data-testid', 'message');

      document.querySelector('#messages').appendChild(msgLi);
    });

    socket.on('updateUsers', (users) => {
      users.map((user) => {
        const userLi = document.createElement('li');
        userLi.innerHTML = user.socketId;
  
        document.querySelector('#users').appendChild(userLi);
      });
    });

    document.querySelector('#saveNickname').addEventListener('click', () => {
      const newNickname = document.querySelector('#nickname-box').value;

      document.querySelector('#nickname').innerHTML = newNickname;
    });
  </script>
  
</body>
</html>