.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px groove rgb(117, 255, 117);
  background: rgb(0, 180, 120);
  align-items: center;
}

.title p{
  font-size: 1.5rem;
}

.nick {
  display: flex;
  flex-direction: column;
}

.content {
  background: lightcyan;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 77vh;
}

.aside {
  width: 25vw;
  background: rgb(0, 180, 120);
  height: 90vh;
  border: 2px groove rgb(117, 255, 117);
  overflow: auto;
}

.message {
  width: 75vw;
  height: 90vh;
  background: rgb(134, 148, 146);
  overflow: auto;
  border: 2px groove rgb(117, 255, 117);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: rgb(0, 180, 120);
  width: 98.5vw;
  height: 8vh;
  border: 2px ridge rgb(117, 255, 117);
}

.input-message {
  width: 60rem;
  height: 2rem;
}
