<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebChat, LastBE</title>
</head>
<body>
  <h1>WEBCHAT!</h1>
  <h1 id="randomNickName"></h1>
  <ul id="user-list">
  </ul>
  <label>Change your Nickname</label>
  <input data-testid="nickname-box" id="nick"></input>
  <button data-testid="nickname-button" id="changeNick">Change Nickname</button>
  <ul id="list"> 
    <% messageList.forEach(( msg ) => {%>
      <li data-testid="message"><%= msg %></li>
    <%}); %>
  </ul>
  <input data-testid="message-box" id="inputMsg"></input>
  <button data-testid="send-button" id="sendButton">Send MSG</button>
</body>

<%- include ('./partials/scripts.ejs') %>
</html>