<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Chat Project</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Web Chat Project</h1>
  <span>User:</span>
  <input id="userInput" type="text"  autocomplete="off" />
  <button id="userButton" type="button">Entrar</button>
  <ul id="users"></ul>
  <br>
  <span>Message:</span>
  <input id="messageInput" type="text"  autocomplete="off" />
  <button id="messageButton" type="button">Enviar</button>
  <ul id="messages"></ul>
  <script>
    const socket = io();
  
    const userInput = document.querySelector('#userInput');
    const userButton = document.querySelector('#userButton');
    userButton.addEventListener('click', () =>{
      console.log(userInput.value)
      socket.emit('user', (`${userInput.value} entrou!`));
      return false;
    });

    const messageInput = document.querySelector('#messageInput');
    const messageButton = document.querySelector('#messageButton');
    messageButton.addEventListener('click', () =>{
      console.log(messageInput.value)
      socket.emit('message', {
        nickname: userInput.value,
        chatMessage: messageInput.value
      });
      messageInput.value = ''
      return false;
    });

    const createUser = (user) => {
      const userUl = document.querySelector('#users');
      const li = document.createElement('li');
      li.innerText = user;
      userUl.appendChild(li);
    }

    const createMessage = (message) => {
      const messagesUl = document.querySelector('#messages');
      const li = document.createElement('li');
      li.innerText = message;
      messagesUl.appendChild(li);
    }
    socket.on('user', (user) => createUser(user));
    socket.on('message', (message) => createMessage(message));
  </script>
</body>
</html>