<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <title>Web Chat</title>
</head>
<body>
  <div>
    <p>On-Line</p>
    <ul id="userList">
    </ul>
  </div>
  <h2>Conversa</h2>
  <div id="msgList">
  </div>
  <input type="text" name="message" id="userMessage" data-testid="message-box"/>
  <button type="button" id="send" data-testid="send-button">Enviar</button>
  <input type="text", name="nickname", id="nickName" data-testid="nickname-box"/>
  <button data-testid="nickname-button" id="changeNickname">adicionar nickname</button>
  
  <script>
    const socket = io();
    const showId = (userId) => {
      const txt = document.createElement('li');
      txt.setAttribute('data-testid', 'online-user');
      txt.innerText = userId;
      document.querySelector('#userList').appendChild(txt);
    }

    const showAllMessages = (message) => {
      const txt = document.createElement('p');
      txt.setAttribute('data-testid', 'message');
      txt.innerText = message;
      document.querySelector('#msgList').appendChild(txt);
    }

    socket.on('usersOnline', (users) => {
      document.querySelector('#userList').innerHTML = '';
      users.map((use) => {
        showId(use)
      });
    });

    socket.on('initial', (id) => {
      let nick = id;
      document.querySelector('#changeNickname').addEventListener('click', () => {
      nick = document.querySelector('#nickName').value;
    });
      document.querySelector('#send').addEventListener('click', () => {
        const newMsg = document.querySelector('#userMessage').value;
        socket.emit('message', { nickname: nick, chatMessage: newMsg });
      });
    });

    socket.on('message', (msg, objectMessage, currentUser) => {
      showAllMessages(msg);
    });

    socket.on('listMessages', (messages) => {
      document.querySelector('#msgList').innerHTML = '';
      messages.forEach((msg) => {
        const parseMessage = `${msg.message.timestamp} ${msg.message.nickname} ${msg.message.message}`
        showAllMessages(parseMessage);
      });
    });

    document.querySelector('#changeNickname').addEventListener('click', () => {
      const newNick = document.querySelector('#nickName').value;
      socket.emit('editNickName', newNick)
    });
  </script>
</body>
</html>