<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quer TC?</title>
  <!-- <script src="http:/localhost:3000/socket.io/socket.io.js"></script> -->
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <input type="text" id="message-box" data-testid="message-box">
  <button type="button" id="send-button" data-testid="send-button">Enviar</button>
  <input type="text" id="nickname-box" data-testid="nickname-box">
  <button type="button" id="nickname-button" data-testid="nickname-button">Mudar nickname</button>
  <ul id="nickname-list"></ul>
  <ul id="messages"></ul>
  <script>
    const socket = io();
    let nickname = '';
    socket.on('connected', (stringNickname) => {
      nickname = stringNickname;
      addNickname(stringNickname);
      // users.forEach((user) => addNickname(user.nickname));
    });
    socket.on('userConnected', ({ stringNickname, users }) => {
      nickname = stringNickname;
      addUsersConnected(users);
      // addNickName1(nicknameGenerated);
    });

    const btnSend = document.querySelector('#send-button');

    btnSend.addEventListener('click', () => {
      const inputMessage = document.querySelector('#message-box');
      socket.emit('message', { chatMessage: inputMessage.value, nickname });
      inputMessage.value = '';
      return false;
    });

    const addNickname = (nickname) => {
      const allNickname = document.querySelector('#nickname-list');
      const li = document.createElement('li');
      li.setAttribute('data-testid', 'online-user');
      li.innerText = nickname;
      allNickname.prepend(li);
    }

    const addNickname1 = (nickname) => {
      const allNickname = document.querySelector('#nickname-list');
      const li = document.createElement('li');
      li.setAttribute('data-testid', 'online-user');
      li.innerText = nickname;
      allNickname.appendChild(li);
    }

    const createMessage = (res) => {
      const messages1 = document.querySelector('#messages');
      const li = document.createElement('li');
      li.setAttribute('data-testid', 'message');
      li.innerText = res;
      messages1.appendChild(li);
    }

    socket.on('message', (message) => createMessage(message));

    const btnNickname = document.querySelector('#nickname-button');
    btnNickname.addEventListener('click', () => {
      const newNickname = document.querySelector('#nickname-box');
      socket.emit('changeNickname', { newNickname: newNickname.value });
      nickname = newNickname.value;
      newNickname.value = '';
    });

    const changeNickname = (users) => {
      const allNickname = document.querySelector('#nickname-list');
      allNickname.innerHTML = '';
      users.forEach((user) => {
        const li = document.createElement('li');
        li.setAttribute('data-testid', 'online-user');
        li.innerText = user.nickname;
        allNickname.appendChild(li);
      });
    };

    const addUsersConnected = (users) => {
      const allNickname = document.querySelector('#nickname-list');
      users.forEach((user) => {
        const li = document.createElement('li');
        li.setAttribute('data-testid', 'online-user');
        li.innerText = user.nickname;
        allNickname.appendChild(li);
      });
    };

    socket.on('changeNickname', (users) => changeNickname(users));
  </script>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quer TC</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js"></script>>
</head>
<body>
  <form id="chat">
    <input
      type="text"
      name="username"
      data-testid="nickname-box"
      placeholder="Digite seu usuário"
    >
    <div class="messages"></div>
    <input
      type="text"
      name="message"
      data-testid="message-box"
      placeholder="Digite sua mensagem"
    >
    <button
      type="button"
      data-testid="nickname-save"
    >
      Salvar
    </button>
    <button
      type="submit"
      data-testid="send-button"
    >
      Enviar
    </button>
  </form>

  <script type="text/javascript">
    const socket = io('http://localhost:3000');
    const sendMessage = document.querySelector('[data-testid="send-button"]');
    const nicknameInput = document.querySelector('[data-testid="nickname-box"]');
    const messageInput = document.querySelector('[data-testid="message-box"]');
    const chat = document.querySelector('.messages');

    sendMessage.addEventListener('click', function() {
      const nickname = nicknameInput.value;
      const message = messageInput.value;
      if (nickname.length && message.length) {
        const messageObj = {
          nickname,
          message,
        };
        socket.emit('message', messageObj);
      }
    });

    socket.on('message', (message) => {
      const p = document.createElement('p');
      p.innerHTML = message;
      p.setAttribute('data-testid', message);
      chat.appendChild(p);
    });

  </script>
</body>
</html> -->