<!doctype html>
<html>
  <head>
    <title>WebChat</title>
  </head>
  <body>
    <h1>WebChat</h1>
  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script src="http://localhost:3000/client.js"></script>
</html>