<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página SocketIO</title>
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
</head>
<body>
  <div>
    <ul id="list-users">
      <li id="online-user" data-testid="online-user">Visitante</li>
        <li id="" data-testid="online-user"></li>
      </ul>
    </div>
    <div>
    <input data-testid="nickname-box" id="nickname-box" />
    <button data-testid="nickname-button" id="nickname-button">Salvar</button>
    <input data-testid="message-box" id="message-box" />
    <button data-testid="send-button" id="send-button">Enviar</button>
  </div>
  <ul id="chat-box">
    <li data-testid="message">
  </ul>
  
  <script>
    const messageBox = document.querySelector('#message-box');
    const messageSendButton = document.querySelector('#message-send-button');
    const socket = io();
  </script>
  
</body>
</html>