<!DOCTYPE html>
<html>
  <head>
    <title>WebChat</title>
    <script src="/socket.io/socket.io.js"></script>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font: 13px Helvetica, Arial;
      }

      form {
        background: #000;
        padding: 3px;
        position: fixed;
        bottom: 0;
        width: 100%;
      }

      form input {
        border: 0;
        padding: 10px;
        width: 90%;
        margin-right: 0.5%;
      }

      form button {
        width: 9%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
        cursor: pointer;
      }

      #mensagens {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      #mensagens li {
        padding: 5px 10px;
      }

      #mensagens li:nth-child(odd) {
        background: #eee;
      }
    </style>
  </head>
  <body>
    <h1>WebChat</h1>
    <section>
      <Span>Nickname:</Span>
      <input type="text" id="nickname-box" data-testid="nickname-box" />
      <button type="button" id="nickname-button" data-testid="nickname-button">
        Salvar
      </button>
    </section>
    <section>
      <ul id="onlineUsers"></ul>
    </section>
    <section>
      <ul id="chatMessages">
        <% messages.forEach((message) => { %>
          <li data-testid="message"><%= message %></li>
        <% }) %>
      </ul>
    </section>
    

    <section>      
      <input type="text" id="mensagemInput" data-testid="message-box" autocomplete="off" />
      <button type="submit" id="sendBtn" data-testid="send-button">Enviar</button>
    </section>

    <script>
      const id = Math.floor(
        Math.random() * (99999999999 - 9999999999) + 9999999999
      );
      const socket = io();

      // Exibindo novo usuario que entrou com Id aleatório
      socket.emit("newUser", `user_${id}`);

      document.getElementById("sendBtn").addEventListener("click", (e) => {
        const chatMessage = document.getElementById("mensagemInput").value;
        const user = document.getElementById(`${socket.id}`);

        socket.emit("message", {
          chatMessage,
          nickname: user ? user.innerText : "user",
        });

        document.getElementById("mensagemInput").value = "";
      });

      
      // cria uma `li` e coloca dentro da `ul` com `id` mensagens
      // Recebendo a mensagem do servidor e exibindo no cliente
      socket.on("message", (message) => {
        const li = document.createElement("li");
        li.innerHTML = message;
        li.setAttribute("data-testid", "message");
        document.getElementById("chatMessages").appendChild(li);
      });
      

      // Atualizar usuario
      socket.on("updateUsers", (users) => {
        const index = users.findIndex((u) => u.socketId === socket.id);
        const filterUser = users.find((u) => u.socketId === socket.id);
        if (index !== -1) users.splice(index, 1);
        users.unshift(filterUser);

        document.getElementById("onlineUsers").innerHTML = `
        ${users.map((user) => `
          <li id=${user.socketId} data-testid="online-user">${user.userName}</li>`).join('')}`;
      });

      
      document.getElementById("nickname-button").addEventListener("click", (e) => {
        const newNickname = document.getElementById("nickname-box").value;
        socket.emit("changeUser", newNickname);
        document.getElementById("nickname-box").value = "";
      });
      
    </script>

  </body>
</html>