<!DOCTYPE html>
<html>

<head>

  <title>Socket.IO - trybe</title>
  <link rel="stylesheet"  href="/views/index.css"> 
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
  
  <h1>Socket IO</h1>
  <h2>messages</h2>
  <form action="" class="message">
    <input id="mensagemInput" data-testid="message-box" autocomplete="off" />
    <button type="submit" data-testid="send-button">Send</button>
  </form>
  <ul id="messages">
    <% messages.forEach((message) => { %>
      <li data-testid="message"><%= message %></li>
    <% }); %>
  </ul>

  

  
  
  <h2>users</h2>
  <form class="nickname">
    <input id="editar" data-testid="nickname-box" autocomplete="off"/>
    <button type="submit" data-testid="nickname-button">editar nickname</button>
  </form>

  <ul id="online-users">

  </ul>
  <script>
    let nickname = '<%= generateNickname()%>'
    const socket = io('http://localhost:3000/');    
    const id = socket.id
    console.warn(socket)
    const myUser = {nickname, id}
    
    const form = document.querySelector('form.message')
    const nicknameForm = document.querySelector('form.nickname')
    const nicknameInput = document.querySelector('#editar')
    const inputMessage = document.querySelector('#mensagemInput')
  
    form.addEventListener('submit', (e) =>{
      e.preventDefault();
      
      socket.emit('message', ({chatMessage: inputMessage.value, nickname: myUser.nickname}));
      inputMessage.value = ''
      return false;
    });

    nicknameForm.addEventListener('submit', (e) => {
      e.preventDefault();

      const newNickname = nicknameInput.value;
      console.log(myUser)
      if (newNickname) {
        myUser.nickname 

        socket.emit('updateNickname', {id: myUser.id, nickname: newNickname});
        
      }
});



    const formatMessage = (message, nickname) => {
      const timeStamp = '<%= fromNow()%>'
      const formatedMessage = `${timeStamp}-${nickname}: ${message}`
    }

    const createMessage = (message, nickname) => {
      const formatedMessage = message
      const messagesUl = document.querySelector('#messages');
      const messageContainer = document.createElement('div');
      const messageText = document.createElement('p');
      messageContainer.classList.add('message');
      messageText.innerText = formatedMessage;
      messageText.classList.add('message-text');
      messageText.setAttribute('data-testid', 'message');
      messageContainer.appendChild(messageText);
      messagesUl.appendChild(messageContainer);
    }

    const clearUsers = () => {
      const users = document.querySelectorAll('.user')
      users.forEach(user => user.remove())
    }

    const createUser = (userName) => {
      const userList = document.querySelector('#online-users')
      const userContainer = document.createElement('li')
      userContainer.classList.add('user')
      userContainer.setAttribute('data-testid', 'online-user')
      userContainer.innerText= userName
      userList.appendChild(userContainer)
    }

    const addUsers = (users) => {
      users.forEach(user => createUser(user.nickname))
    }

    const refreshUsers = (updatedUsers) => {
      clearUsers()
      const [...newUsers] = updatedUsers
      const index = newUsers.findIndex(user => user.id === socket.id)
      const user = updatedUsers.find(user => user.id === socket.id)
      newUsers.splice(index, 1)
      newUsers.unshift(user)
      addUsers(newUsers)
    }

    socket.on('message',  (message) => createMessage(message, myUser.nickname))
    


    socket.on('users',  (users) => {
      refreshUsers(users)
    })

    socket.on('updateNickname', (users) => {
      refreshUsers(users)
    })

    socket.on('connect', () => {
      console.log('cheguei no front')
      socket.emit('newUser', myUser)

    })
    

  </script>
</body>

</html>