<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebChat</title>
  <style>
    .messageInput {
      width: 300px;
      height: 100px;
    }

    .containerNickName, .messageContainer {
      margin: 50px;
    };
  </style>
</head>
<body>
  <h1>Welcome to The WebChat Project!</h1>
  <div class="containerNickName">
    <h1 id="userNickName"></h1>
    <label alt='nickNameInput'>
      <input type='text' id='nickNameInput' placeholder="Alan Turing" data-testid="nickname-box">
      <button id="changeNickNameButton" data-testid="nickname-button">Change Nickname</button>
    </label>
  </div>
  <div class="messageContainer">
    <label alt='messageInput'>
      <input id="messageInput" class="messageInput" placeholder="Type your message here" data-testid="message-box"></textarea>
    </label>
    <button id="sendButton" data-testid="send-button">Send</button>
  </div>
  <div>
    <ul id="usersLogged"></ul>
  </div>
  <div>
    <ul id="chatList">
    </ul>
  </div>
</body>

<script src="/socket.io/socket.io.js"></script>

<script>
  const socket = io('http://localhost:3000');
  const messageInput = document.getElementById('messageInput');
  const sendMessageButton = document.getElementById('sendButton');
  const changeNickNameButton = document.getElementById('changeNickNameButton');

  changeNickNameButton.addEventListener('click', () => {
    const oldNickName = document.getElementById('userNickName').innerText;
    const newNickName = document.getElementById('nickNameInput').value;
    document.getElementById('userNickName').innerHTML = newNickName;
    socket.emit('nickNameChange', newNickName, oldNickName);
  });

  sendMessageButton.addEventListener('click', () => {
    const nickname = document.getElementById('userNickName').innerText;
    const chatMessage = document.getElementById('messageInput').value;
    socket.emit('message', { nickname, chatMessage });
  });

  socket.on('connected', async (randomNickName) => {
    document.getElementById('userNickName').innerText = randomNickName;
  });

  socket.on('userList', async (users) => {
    const userList = document.getElementById('usersLogged');
    userList.innerHTML = '';
    users.forEach((user) => {
      const newUser = document.createElement('li');
      newUser.setAttribute('data-testid', 'online-user');
      newUser.innerHTML = JSON.stringify(user.nickname).replace(/^"(.+)"$/,'$1');
      userList.appendChild(newUser);
    })
  });

  socket.on('message', async (message) => {
    const messageList = document.getElementById('chatList');
    const messageFromUser = document.createElement('li');
    messageFromUser.innerHTML = message;
    messageFromUser.setAttribute('data-testid', 'message');
    messageList.appendChild(messageFromUser);
  });
</script>
</html>