<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <title>Web Chat</title>
</head>
<body>
  <h2>Conversa</h2>
  <ul id="msgList">
  </ul>
  <input type="text" name="message" id="userMessage" />
  <button type="button" id="send">Enviar</button>
  <script>
    const socket = io();
    document.querySelector('#send').addEventListener('click', (e) => {
      const msg = document.querySelector("#userMessage").value;
      socket.emit('message', msg);
    });

    socket.on('newMsg', (newMsg) => {
      const element = document.createElement('li');
      element.innerText = newMsg;
      document.querySelector('#msgList').appendChild(element);
    });
  </script>
</body>
</html>