<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebChat</title>
</head>
<script src="socket.io/socket.io.js"></script>
<body>
  <h1>Web chat</h1>
  <h4 data-testid="online-user" id="randomNickName"></h4>
  <label>Change you Nickname</label>
  <input data-testid="nickname-box" id="nickname"></input>
  <button data-testid="nickname-button" id="changeNickname">Change Nickname</button>
  <ul id="list">
    <% messageList.forEach(({ chatMessage }) => {%>
      <li data-testid="message"><%= chatMessage %></li><%}); %>
    </ul>
    <input data-testid="message-box" id="inputMessage"></input>
    <button data-testid="send-button" id="sendButton">Send Message</button>

  <script defer>
    const socket = io('http://localhost:3000');
  
    let nickname = Math.random().toString(36).substring(2, 10) + Math.random().toString(36).substring(2, 10);
    document.getElementById('randomNickName').innerHTML = nickname;
    document.getElementById('sendButton').addEventListener('click', () => {
      let chatMessage =  document.getElementById('inputMessage').value;
      let currentNickname = document.getElementById('randomNickName').innerHTML
      socket.emit('message', { chatMessage, nickname:currentNickname });
    })
    socket.on('message', (result) => {
      let list = document.getElementById("list");
      let listItem = document.createElement("li");
      listItem.appendChild(document.createTextNode(result))
      listItem.setAttribute('data-testid', 'message');
      list.appendChild(listItem)
    })
    document.getElementById('changeNickname').addEventListener('click', () => {
      document.getElementById('randomNickName').innerHTML = document.getElementById('nickname').value
    })
  </script>
</body>

</html>