<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <title>Webchat</title>
  </head>
  <body>
    <h1>Talk y Talk</h1>
    <section>
      <input type="text" id="nickname-box" data-testid="nickname-box" />
      <button type="button" id="nickname-button" data-testid="nickname-button">
        Salvar
      </button>
    </section>
    <section>
      <ul id="onlineUsers"></ul>
    </section>
    <section>
      <input type="text" name="message" id="message" data-testid="message-box" />
      <button type="submit" id="sendMessage" data-testid="send-button">
        Enviar
      </button>
    </section>
    <section>
      <ul id="chatMessages">
        <% messages.forEach((message) => { %>
          <li data-testid="message"><%= message %></li>
        <% }) %>
      </ul>
    </section>

    <script src="js/main.js"></script>
  </body>
</html>