<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quer TC</title>
</head>
<body>
  <div>
    <div class="Title">
      <h1>Quer TC?</h1>
    </div>
    <div>

      <input
      type="text"
      data-testid="nickname-box"
      placeholder="Informe seu nickname"
      />
      <button
      type="button"
      data-testid="nickname-button"
      >
      Salvar
    </button>
    </div>
    <div>
      <h2>
        Users
      </h2>
    </div>
  </div>
</body>
</html>