* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 12px 20px;
}

.chat-content {
  align-items: stretch;
  display: flex;
  flex: 1;
  height: 85vh;
  padding: 15px;
}

.chat-content aside {
  border: 2px solid rgb(184, 184, 184);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  min-width: 200px;
  padding: 10px;
  width: 15%;
}

.connected-users {
  flex: 1;
}

.header-form {
  height: 50px;
  padding: 10px 0;
}

footer form {
  display: flex;
  padding: 0 20px;
}

footer form , footer form input {
  height: 100%;
}

footer form input {
  padding: 8px;
  width: 90%;
}

footer form button {
  background-color: rgb(102, 209, 102);
  border-radius: 5px;
  border: none;
  color: white;
  flex: 1;
  font-weight: 500;
  margin-left: 8px;
  outline: none;
  transition: background-color 0.2s ease;
}

.header-form form {
  display: flex;
  height: 100%;
}

.header-form input {
  padding: 0 8px;
  width: 70%;
}

.header-form button {
  background-color: rgb(64, 155, 155);
  border-radius: 5px;
  border: none;
  color: white;
  flex: 1;
  margin-left: 5px;
  outline: none;
}

footer form button:hover {
  background-color: rgb(91, 189, 91);
}

.divider {
  border-bottom: 2px solid rgb(184, 184, 184);
  margin: 10px 0;
}

.connected-users h3 {
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

.connected-users ul {
  list-style: none;
  margin-top: 20px;
  overflow-y: auto;
  padding: 0 20px;
  text-align: center;
}

ul li {
  margin-bottom: 7px;
}

.chat-container {
  border: 2px solid rgb(184, 184, 184);
  border-radius: 5px;
  flex: 1;
  overflow-y: auto;
  padding: 10px 20px;
}


.message {
  background-color: rgb(182, 242, 190);
  border-radius: 10px;
  margin-top: 10px;
  max-width: 400px;
  padding: 4px 8px;
  position: relative;
  width: fit-content;
}

.message:before {
  background-color: rgb(182, 242, 190);
  border-radius: 100%;
  content: '';
  height: 5px;
  left: -8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
}

footer {
  height: 40px;
}
