* {
  margin: 0;
  padding: 0;
}

.main {
  height: 100%;
  width: 100%;
}

.S1 {
  background-color: orange;
  height: 90%;
  margin-left: 0.5%;
  max-width: 200px;
  position: absolute;
  width: 100%;
}

.S2 {
  height: 90%;
  margin-left: 15.4%;
  position: absolute;
  width: 84%;
}

.S3 {
  display: flex;
  margin-left: 0.5%;
  margin-top: 46%;
  position: absolute;
}

.S3 input {
  border-radius: 18px;
  font-family: Times New Roman, Times, serif;
  font-size: 17px;
  padding: 10px 18px;
}

.S3 button {
  background-color: #44c767;
  border: 1px solid #18ab29;
  border-radius: 28px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: Times New Roman, Times, serif;
  font-size: 17px;
  margin-left: 100%;
  padding: 10px 18px;
  position: absolute;
  text-decoration: none;
  text-shadow: 1px 1px 1px #2f6627;
}
