<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
</head>
<body>
  <h1>Hello There</h1>
  <p>A client just connected to this chat!</p>
  <p
    id="clientName"
    data-testid="onlin-user"
  ></p>
  <form action="">
    <input
      id="mensagemInput"
      type='text'
      data-testid="message-box"
    />
    <button
      type="button"
      id="sendMessage"
      data-testid="send-button"
    >
      Send
    </button>
  </form>
  <input
    type="text"
    id="nickInput"
    data-testid="nickname-box"
  />
  <button
    type="button"
    id="changeNick"
    data-testid="nickname-button"
  >
    Change Nick
  </button>
  <ul id="messagesList">
    <% savedMessages.map(({ message, nickname, timestamp }) => { %>
        <li data-testid="message"><%= `${timestamp} - ${nickname}: ${message}` %></li>
    <%  }) %>
  </ul>
  <p>Lista de clientes conectados: </p>
  <ul id="userList">
  </ul>
  <script>
    const socket = io();
    const changeNickButton = document.querySelector('#changeNick');
    const sendMessage = document.querySelector('#sendMessage');
    const inputMessage = document.querySelector('#mensagemInput');
    const inputNick = document.querySelector('#nickInput');
    const clientName = document.querySelector('#clientName');
    const ul = document.querySelector('#userList');
    
    changeNickButton.addEventListener('click', (e) => {
      e.preventDefault();
      nickName = inputNick.value;
      socket.emit('changeNick', nickName);
      inputNick.value = '';
      return 0;
    });

    sendMessage.addEventListener('click', (e) => {
      e.preventDefault();
      let nickName=socket.id.slice(0, 16);
      obj = {
        chatMessage: inputMessage.value,
        nickname: nickName,
      };
      socket.emit('message', obj);
      inputMessage.value = '';
      return 0;
    });

    const createMessage = (message) => {
      const ul = document.querySelector('#messagesList');
      const li = document.createElement('li');
      li.innerText = message;
      li.setAttribute('data-testid', 'message');
      ul.appendChild(li);
    };

    const removeUser = (id) => {
      const li = document.getElementById(`${id}`);
      if (li) li.parentNode.removeChild(li);
    }

    const addUser = ({id, nickname}) => {
      console.log(id, nickname)
      const li = document.createElement('li');
      li.innerText = nickname;
      li.setAttribute('data-testid', 'online-user');
      li.setAttribute('id', `${id}`);
      ul.appendChild(li);
    }

    const listUpdate = (listOfNicknames) => {
      listOfNicknames.forEach((item) => {
        const li = document.getElementById(`${item.id}`);
        if (!li) addUser(item);
      })
    }

    socket.on('message', (message) => createMessage(message));
    socket.on('name', (name) => clientName.innerText=name.slice(0, 16));
    socket.on('removeUser', (nickname) => removeUser(nickname));
    socket.on('addUser', (nickname) => addUser(nickname));
    socket.on('listUpdate', (listOfNicknames) => listUpdate(listOfNicknames));
  </script>
</body>
</html>